<h1 class="form-title">Sign In</h1>
<div class="container">
    <div *ngIf="form.errors" class="alert alert-danger">
        The username or password is invalid.
    </div>
    <form class="form" [formGroup]="form" (ngSubmit)="login()">
        <div class="form-group">
            <label class="group-label" for="username">Username</label>
            <input
                formControlName="username"
                type="text" 
                id="username" 
                class="form-control">

            <div class="form-loader" *ngIf="username?.pending">Checking for uniqueness...</div>
            <div *ngIf="username?.touched && username?.valid" class="alert alert-success">
                <div *ngIf="!(username?.errors?.['shouldBeUnique'])">The username is free.</div>
            </div>

            <div *ngIf="username?.touched && username?.invalid" class="alert alert-danger">
                <div *ngIf="username?.errors?.['required']">Username is required.</div>
                <div *ngIf="username?.errors?.['minlength']">Min length username is {{username?.errors?.['minlength?'].requiredLength}} characters.</div>
                <div *ngIf="username?.errors?.['cannotContainSpace']">Username cannot contain Space.</div>
                <div *ngIf="username?.errors?.['shouldBeUnique']">Username is already taken.</div>
            </div>
        </div>
    
        <div class="form-group">
            <label class="group-label" for="password">Password</label>
            <input 
                formControlName="password"
                type="password" 
                id="password" 
                class="form-control">
            
            <div *ngIf="password?.touched && password?.valid" class="alert alert-success">
                <div>The password is Ok.</div>
            </div>
            
            <div *ngIf="password?.touched && password?.invalid" class="alert alert-danger">
                <div *ngIf="password?.errors?.['required']">Password is required.</div>
                <div *ngIf="password?.errors?.['minlength']">Min length of password is {{password?.errors?.['minlength']?.requiredLength}} characters.</div>
                <div *ngIf="password?.errors?.['cannotContainSpace']">Password cannot contain Space.</div>
                <div *ngIf="password?.errors?.['passwordShouldHaveNumbers']">Must contain at least 1 Number.</div>
                <div *ngIf="password?.errors?.['passwordShouldHaveCapitalCase']">Must contain at least 1 Capital Case.</div>
                <div *ngIf="password?.errors?.['passwordShouldHaveSpecialCharacter']">Must contain at least 1 Special Characters.</div>
            </div>
        </div>

        <div class="btn-offer-group">
            <button class="form-btn btn btn-primary" type="submit">Sign In</button>
            <div class="offer-register">
                <span style="margin-right: 2px;">If you don't have account, please </span>
                <a routerLink="/register">register...</a>
            </div>
        </div>
    </form>
</div>
 